.navigation {
    height: 45px;
    background-color: #3d3d3d;
    color: #fff;
    flex-direction: row;
    display: flex;
    align-items: center;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 30px;
}

.navItem:hover{
    color: #a0a0a0;
}

.webLink:hover {
    color: #a0a0a0;
}

body {
    margin: 0px !important;
    font-family: 'play';
    background-color: #111;
}

#clickBtn {
    user-select: none;
}

.webLink {
    text-decoration: none;
    color: #A80600;
}

header {
    margin: 25px;
}

.historyBook {
    margin: 15px;
}

p {
    color: #FF1E00;
}

h1 {
    color: #FF1E00;
    font-size: 38px;
}

h3 {
    font-size: 22px;
    color: #A80600;
}

h4 {
    margin: 10px;
    color: #A80600;
    font-size: 20px;
    text-decoration: underline overline;
}

.text {
    color: #BBB;
    text-align: center;
    margin: 10px;
    user-select: none;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.text:hover {
    color: #999;
    background-color: #3d3d3d;
}

.textForBalance {
    color: #FF1E00;
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    margin-top: 30px;
}

img {
    max-width: 40%;
    height: auto;
    border: inset #A80600 5px;
}

.imageToClick {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.navTitle {
    font-size: 22px;
    color: #FFA4A0;
}

section {
    margin-left: 40px;
}

.link {
    text-decoration: none;
    color: #EEE;
    font-size: 30px;
}

.link:hover {
    color: #A80600;
}

.gameLink {
    margin: 60px;
}

.clickText {
    color: #A80600;
    padding: 5px;
}

.numOfItem {
    color: #999;
}

.price {
    color: #005C07;
}